<html lang="en" >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="static/components/angular-loading-bar/src/loading-bar.css">
    <link rel="stylesheet" href="static/css/app.css">
  </head>

  <body>
    <div ng-controller="timesCtrl" ng-cloak="" ng-app="BlankApp" >
        <md-toolbar layout="row" class="md-hue-3">
          <div class="md-toolbar-tools  main-toolbar" layout-align="center center">
            <img src="/static/img/logo_pad.png" alt="">
          </div>
        </md-toolbar>

        <div layout="row" layout-align="center center">
          <div ng-show="!loaded" layout="column" layout-align="space-around center center" layout-fill>
            <md-progress-circular id="circular-bar" md-mode="indeterminate"></md-progress-circular>
          </div>
          <md-list ng-show='loaded' flex="50" flex-sm="100" flex-xs="100" class="md-dense"> 
            <div ng-repeat="time in times | orderBy:orderBy">
              <md-list-item class="md-3-line" ng-click="null">
                <span class="ranking" ng-style="getStyle($index)">{[$index+1]}</span>
                <img ng-src="{[time.url_escudo_png]}?{[$index]}" class="md-avatar" alt="{[time.nome]}">
                <div class="md-list-item-text" layout="column">
                  <h3 hide-xs show-gt-xs ng-style="getStyle($index)">{[ time.nome ]}</h3>
                  <h3 show-xs hide-gt-xs ng-style="getStyle($index)">{[ time.nome | limitTo: 17 ]}{[ time.nome.length > 17 ? "..." : "" ]}</h3>
                  <h4 ng-style="getStyle($index)">{[ time.nome_cartola ]}</h4>
                  <span class="parcial md-secondary" ng-if="!open">
                    <span>{[ time.pontos.parcial | number:2 ]}</span><br>
                    <span class="extra">{[ time.jogaram ]}</span>
                  </span>
                  <span class="campeonato md-secondary">
                    <span>{[ time.pontos.campeonato | number:2 ]}</span><br>
                    <span class="extra">C$ {[ time.patrimonio | number:2 ]}</span>
                  </span>
                </div>
              </md-list-item>
              <md-divider></md-divider>
            </div>
          </md-list>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="static/components/angular-loading-bar/src/loading-bar.js"></script>
    <script src="static/js/app.js"></script>

  </body>
</html>